* {
    box-sizing: border-box;
}
body {
    background-image: url("cork.jpg");
}

.photo {
    display: inline-block;
    background-color: white;
    width: 150px;
    height: auto;
    box-shadow: 5px 5px 5px grey;
    position: relative;
    padding-bottom: 20px;
    margin-left: 300px;
    margin-top: 300px;

}

.animal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pin {
    position: absolute;
    width: 20px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
}

.label{
    position: absolute;
    font-family: Marker;
    font-size: 25pt;
    bottom: 0;
    text-align: center;
    right: 0;
    left: 0;
}

@font-face {
    font-family: Marker;
    src: url(BasicSharpie.ttf);
  }

#pig {
      transform: rotate(10deg);
  }

#horse {
    transform: rotate(-20deg);
}

#cow {
    transform: rotate(5deg);
}

