*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

#gallery{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img{
    display: flex;
    border-radius: 8%;
    box-shadow: 1px 1px 25px black;
    margin: 5px;
    flex-grow: 1;
    object-fit: cover;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

img:hover{
    transform: scale(1.5);
}

