* {
    box-sizing: border-box;
}

td:hover {
    background-color: yellow;
}

#FREE {
    background-color: lightblue;
}

table{
    border-collapse: collapse;
    border-spacing: none;
}

td{
    border: 1px solid black;
}

td{
    width: 8em;
    height: 8em;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

th{
    font-size: 50pt;
}