body {
    background-color: gray;
  }
  
  .outerbox {
    margin: 10px;
    background-color: goldenrod;
    display: inline-block;
  }
  
  .innerbox {
    display: inline-block;
    background-image: linear-gradient(salmon, salmon), linear-gradient(#1E90FF, #1E90FF);
    background-clip: content-box, padding-box;
  }
#box1 {
    padding: 5px;
    border-style: dotted;  
    margin: 10px;
}
#box2 {
    padding: 5px;
    border-style: dotted;  
    margin: 0px;
}
#box3 {

    border-width: 2px 0px;
    width: 200px;
    margin: 10px 10px;
    border-style: solid;
    
}
    
#box4 {
    width: 55px;
    padding: 22px;
    margin: 11px 15px;
}