* {
    box-sizing: border-box;
}

body{
    font: 20pt;
    font-family: serif;
    color: white;
}
header{
    background-color: #400106;
    padding: 10px;
    text-align: center;

}

nav{
    width: 20%;
    text-decoration: none;
    float: left;
}

main{
    background-color: #BF3604;
    padding: 10px;
    width: 80%;
    float: right;
}

footer{
    background-color: #CD4A04;
    padding: 10px;
    text-align: center;
    clear: both;
}

ul{
    list-style-type: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

#order {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    
}

#text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#image{
    float: right;
}

#pepperoni{
    float: right;
    padding: 0 20px;
}

#supreme{
    float: left;
    padding: 0 20px;
}

#sausage{
    float: right;
    padding: 0 20px;
}

h1{
    font-size: 15pt;
    clear: both;
}

#wrapper{
    background-color: #590202;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    box-shadow: 0 0 10px black;
}
p{
    padding-left: 10px;
}