*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(123, 123, 209);
}

nav li{
    display:inline-block;
    color: blue;
    list-style: none;
    border-right: 1px solid white;
    padding: 20px 4%;
    border: 2px solid black;
}
nav a{
    text-decoration: none;
    color: black;
}

nav ul{
    text-align: center;
}

nav{
    width: 100%;
}

h1{
    font-size: 40pt;
    text-align: center;
    margin-top: 50px;
}

#home{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 25%;
    margin-top: 70px;
}

#motto{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    color: darkgray;
}

#jim{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
}

#bruce{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
}

.pic{
    display: inline-block;
}

li{
    padding: 20px;
    list-style: square;
}

#mn{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
}

#wi{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
}

nav li:hover{
    background-color: rgb(73, 73, 128);
    
}


@media (max-width: 700px) {
    body{
        font-size: 20pt;
    }
    nav{
        width: 100%;
    }

    nav li{
        display: block;
        width: 100%;
        height: 100px;
        font-size: 30pt;
        font-weight: bold;
    }  
    nav ul{
        padding: 0;
        margin: 0;
        line-height: 50px;
    }

    #motto{
        width: 100%;
    }

    #home{
        width: 100%;
    }

    #jim{
        width: 50%;
        height: 200px;
    }

    #bruce{
        width: 50%;
        height: 200px;
    }
    
}